.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 50px;
    background-color: #24B3DB;
    align-items: center;
    color: white;
    font-weight: 500;
    font-size: 2rem;
    padding: 10px 70px;
    a{
        text-decoration: none;
    }
    .logo{
        color: white;
        text-decoration: none;
    }

}
// color: #FC7E23,#FC5B27